---
import "../styles/global.css";

interface Props {
    text: string;
    href?: string;
    target?: string;
    muted?: boolean;
    outline?: boolean;
    disabled?: boolean;
    icon?: string;
    iconPosition?: "left" | "right";
    footer?: boolean;
}

const props = Astro.props;
---

{
    props.href ? (
        <a href={props.href} target={props.target}>
            <button
                class={`shadow-lg selaura-button ${props.muted ? "selaura-button-muted" : ""} ${props.outline ? "selaura-button-outline" : ""} ${props.footer ? "selaura-footer-button" : ""}`}
            >
                {props.icon && props.iconPosition === "left" && (
                    <i class={`fa-solid fa-${props.icon}`} />
                )}
                {props.text}
                {props.icon && props.iconPosition === "right" && (
                    <i class={`fa-solid fa-${props.icon}`} />
                )}
            </button>
        </a>
    ) : (
        <button
            class={`shadow-lg selaura-button ${props.muted ? "selaura-button-muted" : ""} ${props.outline ? "selaura-button-outline" : ""} ${props.footer ? "selaura-footer-button" : ""}`}
            disabled={props.disabled}
        >
            {props.icon && props.iconPosition === "left" && (
                <i class={`fa-solid fa-${props.icon}`} />
            )}
            {props.text}
            {props.icon && props.iconPosition === "right" && (
                <i class={`fa-solid fa-${props.icon}`} />
            )}
        </button>
    )
}

<style>
    .selaura-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        border-radius: 0.5em;
        background-color: var(--selaura-dark);
        color: var(--selaura-light);
        transition: all 0.3s ease;
        user-select: none;
        box-sizing: border-box;
        text-decoration: none;
    }

    .selaura-button:hover {
        background-color: var(--selaura-dark);
        color: var(--selaura-light);
        border-color: var(--selaura-dark);
        box-shadow: 0 4px 6px var(--selaura-soft);
        transform: scale(0.98);
    }

    .selaura-button:active {
        background-color: var(--selaura-dark);
        color: var(--selaura-light);
    }

    .selaura-button:disabled {
        background-color: var(--selaura-soft);
        color: var(--selaura-faint);
        border-color: var(--selaura-soft);
        cursor: not-allowed;
        box-shadow: none;
    }

    .selaura-button i {
        font-size: 1.2rem;
    }

    .selaura-footer-button {
        background-color: var(--selaura-light);
        color: var(--selaura-dark);
        border: none;
    }

    .selaura-footer-button:hover {
        background-color: var(--selaura-light);
        color: var(--selaura-dark);
        border: none;
    }

    .selaura-footer-button:active {
        background-color: var(--selaura-light);
        color: var(--selaura-dark);
        border: none;
    }

    .selaura-footer-button:disabled {
        background-color: var(--selaura-light);
        color: var(--selaura-faint);
        border: none;
        cursor: not-allowed;
        box-shadow: none;
    }

    .selaura-button-outline {
        background-color: transparent;
        border: 2px solid var(--selaura-dark);
        color: var(--selaura-dark);
    }

    .selaura-button-outline:hover {
        background-color: var(--selaura-dark);
        color: var(--selaura-light);
        transform: scale(0.98);
    }

    .selaura-button-outline:active {
        background-color: var(--selaura-dark);
        color: var(--selaura-light);
    }

    .selaura-button-outline:disabled {
        background-color: transparent;
        color: var(--selaura-faint);
        border-color: var(--selaura-soft);
    }

    .selaura-button-muted {
        background-color: var(--selaura-faint);
        color: var(--selaura-dark);
        border-color: var(--selaura-soft);
    }

    .selaura-button-muted:hover {
        background-color: var(--selaura-faint);
        color: var(--selaura-dark);
        border-color: var(--selaura-soft);
        transform: scale(0.98);
        box-shadow: none;
    }

    .selaura-button-muted:active {
        background-color: var(--selaura-faint);
        color: var(--selaura-dark);
        border-color: var(--selaura-soft);
    }

    .selaura-button-muted:disabled {
        background-color: var(--selaura-faint);
        color: var(--selaura-dark);
        border-color: var(--selaura-soft);
        cursor: not-allowed;
        box-shadow: none;
    }
</style>
